.calendar {
    width: 90%;
    max-width: 600px;
    margin: auto;
    text-align: center;
}
.calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.calendar-header button {
    background-color: transparent;
    border: none;
    font-size: 2em;
}
.calendar-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
    margin-top: 10px;
}
.calendar-day {
    font-weight: bold;
    border: none;
}
.calendar-date {
    height: 60px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid #000;
    font-size: 1.2em;
    cursor: pointer;
}
.date {
    align-self: flex-start;
    text-align: left;
    padding: 2px;
}
.preset-value {
    align-self: flex-start;
}
.calendar-grid .note {
    background-color: red;
    color: white;
}
.calendar-grid .marked {
    background-color: gray;
}
#note-section {
    margin: 20px auto;
    max-width: 600px;
    text-align: center;
}
#note-display {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #000;
    background-color: #f0f0f0;
    display: none;
}
@media (min-width: 768px) {
    .calendar {
        width: 65%;
    }
}
@media (max-width: 767px) {
    .calendar {
        width: 100%;
    }
}
